body {
    font-size: larger;
    border: 0;
    margin: 0;


}


#ab {
    font-size: 40px;
    font-weight: 700;
    color: #1687A7;
    text-align: center;

}



#m {


    background: linear-gradient(#2d5366, #0e96bc);
    box-shadow: 10px 10px 5px rgb(8, 73, 87);
    margin-top: 0px;


}

#p {
    color: #d3e0ea;
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;



}

#head {
    text-align: center;
    color: #03506F
}



#x {
    color: black;
    text-align: right;
}


#ab1 {
    text-align: center;
    color: #276678;
    margin: 0;


}

#ad {
    color: #276678
}

.ok {
    background-color: #d3e0ea;
}

footer {
    background: linear-gradient(rgb(43, 225, 245), rgb(6, 114, 126));
}

img {
    align-items: center;
    margin-left: 90px;
    margin-top: 30px;

}

form {
    align-items: right;
}

p {
    align-content: right;
}

button {
    position: absolute;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* float: right; */
    /* padding: 0 2rem 1.5rem 0;
    list-style: none;
    font-size: 1.3rem;
    text-align: end; */
}

li {
    display: inline;
    float: right;
    margin-right: 30px;



}

.o {
    color: #d3e0ea;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #444;
    align-items: center;
    display: flex;
    text-align: center;
}


.to {

    text-align: center;
    align-items: center;

}